<?xml version="1.0" encoding="UTF-8"?><Context>
    <Resource accessToUnderlyingConnectionAllowed="true" driverClassName="org.h2.Driver" logAbandoned="true" name="jdbc/main" password="root" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" type="javax.sql.DataSource" url="jdbc:h2:file:~/eefb22ebaa9c4ef09af3b6ee1c4d161c;DATABASE_TO_UPPER=false;ALIAS_COLUMN_NAME=true;AUTO_SERVER=TRUE" username="root"/>
    <Resource accessToUnderlyingConnectionAllowed="false" driverClassName="com.mysql.jdbc.Driver" logAbandoned="true" name="jdbc/TesteSW21" password="oossq382533r4os1" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" schema="" type="javax.sql.DataSource" url="jdbc:mysql://rds-oncronos-shared.cx8gelec2ybx.us-east-1.rds.amazonaws.com:3306/bfaead8d-c562-4e4b-bffd-382533e4bf11?createDatabaseIfNotExist=true" username="osnrnq8qp5624r4o"/>
    <Profile value="DEV"/>
</Context>
